

body {
  color: #fff;
  overflow-x: hidden;
  height: 100%;
  background-color: #CFD8DC;
  background-repeat: no-repeat;
}

.card {
  /* background-image: url("https://i.imgur.com/dpqZJV5.jpg"); */
  /* background-size: cover; */
  width: 600px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 4px #9E9E9E;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}

.time-font {
  margin-left: 5px;
  font-size: 50px;
}

.sm-font {
  font-size: 18px;
}

.med-font {
  font-size: 28px;
}

.large-font {
  /* text-align: end; */
  margin-right: 5px;
  font-size: 40px;
}

.text-right{
  text-align: end;
}


.card-cold {
  background-image: url("https://i.imgur.com/dpqZJV5.jpg");
  background-size: cover;
}

.card-warm {
  background-image: url("./images/warm.jpeg");
  background-size: cover;
  color: black;
}

.card-hot {
  background-image: url("https://imgur.com/eOPUSEt");
  background-size: cover;
  color: black;
}